.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 12rem 0 0 0;
}

.card {
  background: #dcdcdb;
  border: 1px solid black;
  border-radius: 6px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  margin-top: 12px;
}

.input {
  height: 24px;
  width: 220px;
  font-size: 16px;
}

.button {
  margin-top: 12px;
  font-size: 18px;
}

.title {
  font-size: 24px;
}
