.main {
  display: flex;
  flex-direction: column;
  padding: 8rem 8rem 0 8rem;
}

.todoList {
  border-radius: 6px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo {
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}